body{
    padding: 0;
    margin: 20px;
}
li{
    list-style: none;
}

.Timer{
    border: 1px solid lightgray;

}
.Timer__b-main{
    display: flex;
}
.m-25{
    margin: 25px;
}
.Timer__b-main__format-btns{
    display: flex;
    flex-wrap: wrap;

}
.Timer__b-main__format-btns__btn{
    padding: 10px 10px;
    width: 400px;
    font-weight: 800;
    color: black;
    font-size: 25px;
    box-shadow: 3px 1px 4px inset lavender;
    background-color: lightcoral;
    margin: 10px 20px;
}
.Timer__b-main__b-time-change{
    margin-left: 15%;
    margin-top: 15px;
    flex-wrap: wrap;

}
.Timer__b-main__b-time-change__toggle-btn {
    padding: 8px 115px;
    font-weight: bold;
    color: black;
    font-size: 27px;
    background-color: pink;
    margin: 0 20px;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 10px;
    width: 300px;
}
.Timer__b-main__b-time-change__btn-list{
    padding-top: 20px;
    display: inline-flex;
    position: relative;
    right: 13%;

}
.Timer__b-main__b-time-change__btn-list__btn{
    padding: 8px 20px;
    font-weight: bold;
    color: black;
    font-size: 25px;
    background-color: red;
    margin: 10px 20px;

}
@media (max-width: 767px),(min-width: 768px) and (max-width: 991px),(min-width: 991px) and (max-width: 1199px),(min-width: 1100px)
and (max-width:1450px ) {
    .Timer__b-main{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

    }
}
