body{
    padding: 0;
    margin: 20px;
}
li{
    list-style: none;
}

.Timer{
    border: 1px solid lightgray;

}
.flex-container{
    display: flex;
}
.m-25{
    margin: 25px;
}
.Timer_format{
    display: flex;
    flex-wrap: wrap;

}
.Timer_format_btn{
    padding: 10px 10px;
    width: 400px;
    font-weight: 800;
    color: black;
    font-size: 25px;
    box-shadow: 3px 1px 4px inset lavender;
    background-color: lightcoral;
    margin: 10px 20px;
}
.Timer-buttons{
    margin-left: 15%;
    margin-top: 15px;
    flex-wrap: wrap;

}
.Timer_toggle_btn {
    padding: 8px 115px;
    font-weight: bold;
    color: black;
    font-size: 27px;
    background-color: pink;
    margin: 0 20px;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 10px;
    width: 300px;
}
.Timer_btn-list{
    padding-top: 20px;
    display: inline-flex;
    position: relative;
    right: 13%;

}
.Timer_btn-list_btn{
    padding: 8px 20px;
    font-weight: bold;
    color: black;
    font-size: 25px;
    background-color: red;
    margin: 10px 20px;

}